body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #484747;
    background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 90px 90px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}

/* about styles */

.about,
.projects,
.works,
.education {
    margin-bottom: 45px;
}

.about_header {
    border-bottom: 2px solid #7CB0CB;
    margin-bottom: 25px;
}

.about_position {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}

.about_name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.about_description {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #595959;
    width: 600px;
}

/* project styles */

.projects_list {
    padding: 0;
    list-style: none;
}

.projects_item,
.project_bracket {
    font-weight: 700;
    line-height: 24px;
    width: 600px;
}

.projects_item:not(:last-child) {
    margin-bottom: 15px;
}

.project,
.project_link {
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.project_description {
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    width: 600px;
}

.work {
    margin-bottom: 45px;
}

.work_position {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.organization {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #7CB0CB;
}

.period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_list_item {
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.work_achievements {
    font-weight: 400;
        line-height: 24px;
        color: #595959;
        width: 600px;
}

/* Education */

.education_list {
    padding: 0;
    margin-right: 15px;
    list-style: none;
}

.education_item:not(:last-child) {
    margin-bottom: 25px;
}

.edu_organization {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #7CB0CB;
    margin-bottom: 10px;
    margin-top: 0;
}

.education_rank {
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 10px;
    margin-top: 0;
}

/* sidebar styles */

.sidebar {
    background-color: #7CB0CB;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech_skills,
.soft_skills,
.languages {
    margin-left: 40px;
}

.contacts,
.tech_skills,
.soft_skills {
    margin-bottom: 45px;
}

.sidebar_title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts_link {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.contacts_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tech_skills_list,
.soft_skills_list,
.languages_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech_skills_text,
.soft_skills_text,
.languages_text {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
}